* {
  color: #333333;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16pt;
  font-style: normal;
}
.center-content {
  text-align: center;
}
.title-header {
  padding: 0.5rem;
}
.page-height {
  height: 80vh;
}
.blank-page-height {
  height: 60vh;
}

/* ---BUTTON--- */
.nav-button {
  background-color: #696049;
  border-radius: 10px;
  color: white;
  padding: 10px 25px;
  font-size: large;
  margin: 0.5rem;
}

/* ---FOOTER--- */
footer {
  background-color: white;
  padding: 0.5rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  height: 3rem;
}
.footer-text {
  margin: 0;
}

/* ---FORM--- */
.auth-form {
  width: 50vw;
  margin: 0 auto;
}
.form-size {
  width: 90vw;
  margin: 0 auto;
}
.form-validations {
  color: red;
}

/* ---HEADER--- */
.apartment-logo {
  height: 5rem;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfb;
  padding: 0.5rem;
}
.nav-link {
  padding: 1rem !important;
}
.nav-link:hover {
  color: #696049 !important;
}
.nav-link-group {
  display: flex;
  align-items: center;
}

/* ---HOME--- */
.home-apartment-image {
  width: 100vw;
}

/* --INDEX--- */
.card {
  box-shadow: 1px 1px #696049;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  width: 18rem;
}
.index-cards-set {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.index-profile-image {
  max-height: 250px;
  overflow: hidden;
}
.index-apartment-image {
  width: 17rem;
}

/* ---NOT FOUND--- */
.not-found-key-image {
  height: 10rem;
}

/* ---SHOW--- */
.show-apartment {
  display: flex;
}
.show-apartment-image {
  width: 50vw;
}
.apartment-details {
  margin: 2rem;
}
.icon {
  padding: 0 10px;
}

@media (max-width: 900px) {
  .auth-form {
    width: 80vw;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .auth-form {
    width: 95vw;
    margin: 0 auto;
  }
  .show-apartment-image {
    width: 100%;
  }
  .show-apartment {
    display: block;
  }
}
